.content-body{
    display: flex;
   
    padding: 75px 150px 60px 150px;
}

.column{
    display: flex;
    width:30%;
    flex-direction: column;
}

.image-size{
    width: 230px;
    height: auto;
    border-radius:8px;
}