.content-body{
    padding: 65px 30px 30px 30px;
}

.content-body ul {
    column-gap: 1em;
     
    column-count: 3;

    padding: 0px 0px 0px 0px;
   
    
}

.content-body ul li{
    display: inline-block;
  margin: 0 0 1em;
  width: max-content;
    /* width: max-content; 
        background-color: #ffffff;
        break-inside: avoid;
  box-sizing: border-box;
  padding: 10px; */
    }

    .image-size{
        width: 50vh;
        border-radius:8px;
       
    }